@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
  background: $blue;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 375px;
  width: 100%;
  background: url("/assets/img/video.mp4");
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto;
  padding: 16px;
 
  
}


.glass{

  &__date {
    margin: 12px;
    font-size: 20px;
    
  }

  &__counter {

  width: 280px;
  height: 280px;
  font-size: 112px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
}

  &__pic {
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    // border: none;

    
    
    &-add {
      padding:14px;
      min-width: 216px;
      font-size: 18px;
      text-align: center;
      border: none;
      border-radius: 4px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
      margin: 26px 0;
      background: none;

      &:hover {
        background:rgba(114, 127, 143, .5);
        
      }
      

    }
    &-remove {
      width: 184px;
      background: none;
      border: 1px solid white;
      font-size: 14px;
      line-height: 16px;
      padding: 4px;

      &:hover {
        background: white;
        color: black;
      }


    }
  }
}